*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
#header{
    text-align: center;
    background-color: rgb(0, 0, 73);
    width: 100%;
    height: 50px;
    position:fixed;

}
.header-text{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    padding-top: 17px;
    
}
.header-text a{
    color: white;
}

#background-video
 {
    z-index: -1;
    width: 100vw;
    height: 100vh; 
    position: fixed;
    object-fit:cover;
    bottom: 0;
}
.Model3{
    text-align: center;
    color: white;
    line-height: 1.5em;
    margin-top: 70px;
    font-family: 'Times New Roman', Times, serif;
}
.Model3 h1{
    font-size: 60px;
    padding-bottom: 13px;
}
.container{
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
    margin: auto;
}

#navbar{
    overflow: auto;
    background: transparent;
    color: #fff;
    padding-top: 60px;

}

.logo{
    float:left;
    padding-top: 10px;
}
#navbar h1{
    font-family: 'Bruno Ace SC', cursive;
    font-size:larger
}

#navbar ul{
    text-align: center;
    list-style: none;
    float:right;
    margin-right: 30%;
    
}
#Sf-background-dg
{
    height: 500px;
    background:url('https://digitalassets.tesla.com/tesla-contents/image/upload/h_1800,w_2880,c_fit,f_auto,q_auto:best/model-3-hero-a-desktop')  no-repeat center center/cover;
    
}
#navbar ul li {
    float:left;
}

#navbar ul li button{
    border: 5px solid transparent;
    border-radius: 5px;
    padding:3px 10px;
    background-color: transparent;
    color: white;
    display: block;
    text-align: center;
    margin-left: 5px;
    font-size: 15px;
    font-family: 'Times New Roman', Times, serif;
}
.Couple-Info{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 36%;
    display: table;
    margin-top: 200px;
    color: white;
}
.Info{
    padding-right: 60px;
    display: table-cell;
    text-align: center;
    
}
.text-video p a{
    color: #fff;
    
}
.Info h1{
    font-size: 25px;
}
.Info p{
    padding-top: 8px;
}
#navbar ul li button:hover{ 
    color:black;
    background-color:rgb(150, 150, 150);
}
.btn_1{
    background-color: white;
    color: black;
    border: 3px solid white;
    border-radius: 5px;
    padding:10px 60px;
    cursor: pointer;
    font-family: 'Times New Roman', Times, serif;
    font-size:15px;
}
.btn_2{
    background-color:transparent;
    color: white;
    border: 3px solid white;
    border-radius: 5px;
    padding:10px 60px;
    cursor: pointer;
    margin-left: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size:15px;
}
.btn2:hover{
    background-color: white;
    color:black;
}
.twobuttons{
    text-align: center;
    margin-top: 10px;
    font-family: 'Times New Roman', Times, serif;
}


